.greet {
	color: black;
	text-align: center;
}


li3 {
	position: absolute;
	top: 0;
	left: 0;
}

li {
	
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin: 8px;


}

li2 {
	padding: 8px;
	margin: 8px;
	position: absolute;
	right: 0;
}

ul {
	list-style: none;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	display: inline-block;
}



.exam img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;

}

.exam p {
    font-family: "fantasy;", "Comic Sans MS", fantasy, serif;
    text-align: center;
    font-size: 15px;
}


.exam-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 75vh;

 
}


.rectangle {
  position: fixed;
  top: 41.95%;
  left: 43.9%;
  width: 11.84%; 
  height: 20%; 
  background: ghostwhite;
  z-index: -1;
  border-style: solid;
  border-width:3px ;
  border-radius: 12px;
  box-shadow: 5px 10px 8px #888888;
}


